<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
    <h1 class="w3-xlarge">BURGERS</h1>
    <h3>Add a new Burger</h3>
    <form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="burgerName">
    </div>

    <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="burgState" value="1" checked> Devoured<br>
        <input type="radio" name="burgState" value="0"> Not Devoured
    </div>

    <button type="submit">Add Burger</button>
    </form>

</header>





<div class="w3-row-padding" style="margin-bottom:128px">
    <div class="w3-half">
        <h2>Burgers that aren't devoured</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
    </div>

    <div class="w3-half">
       <h2>Burgers that are devoured</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
</footer>